<?xml version = "10" encoding="UTF-8"?>
<launch>
	<include file="$(find ros_deep_learning)/launch/video_source.ros1.launch"/>
    <include file="$(find puzzlebot_autostart)/launch/puzzlebot_autostart.launch"/>
    <node name="odom_node" pkg="odom_calc" type="odom.py"/>
    <node name = "Track_navigator" pkg = "track_tour" type = "track_tour.py"/>
    <node name = "Pure_pursuit" pkg = "pure_pursuit" type = "pp_single_point.py"/>
    <arg name="node_start_delay" default="5.0" />  
    <node name="line_detection" pkg="line_detection" type="line_detection.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen" />
    <node name = "Traffic_Light_Detector" pkg = "traffic_light_dettection" type = "traffic_light_detection.py" />
    <node name = "image_node" pkg = "color_identification" type="color.py"/>
</launch>
