<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find puzzlebot_autostart)/launch/puzzlebot_autostart.launch"/>
    <node name="odom_node" pkg="odom_calc" type="odom.py"/>
    <node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
    <node pkg="rosbag" type="record" name="record_odom_robag" args="/odom"/>
</launch>
